.root {
  -st-states: on, off, disabled;

  --trackWidth: 40px;
  --knobDiameter: 18px;

  --onBackgroundColor: cornflowerblue;
  --offBackgroundColor: white;
  --onSwitchColor: white;
  --offSwitchColor: black;
  --switchMargin: 1px;
}

.switchWrapper {
  display: flex;
}

.root:disabled::switchWrapper {
  opacity: 0.5;
}

.track {
  display: flex;
  align-items: center;
  width: var(--trackWidth);
  height: calc(var(--trackWidth) /2);
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 5px;
}

.root:on::track {
  justify-content: flex-end;
  background-color: var(--onBackgroundColor);
}

.root:off::track {
  justify-content: flex-start;
  background-color: var(--offBackgroundColor);
}

.knob {
  width: var(--knobDiameter);
  height: var(--knobDiameter);
  border-radius: 10px;
  margin-left: var(--switchMargin);
  margin-right: var(--switchMargin);
}

.root:on::knob {
  background-color: var(--onSwitchColor);
}

.root:off::knob {
  background-color: var(--offSwitchColor);
}
